.header-row {
  width: 100%;
}

.input-search {
  width: 60%;

}
.row {
  display: flex;
  flex-direction: row;

  font-size: 0.8em
}

.col {
  flex: 1;
  margin-right: 10px;
}

.col:last-child {
  margin-right: 0;
}

.filler {
  flex: 1 1 auto;
}

.search_bar {
  padding-top: 45px;
  text-align: left;

}
.logo {
  display: block;
  width: 100%;
  margin-right: 10px;
  margin-top: 10px;
}
