@import '~@angular/material/theming';
$primary: mat-palette($mat-gray, A200, A200, A100);

.header-class {
  /*position: absolute;*/
  background-color: #f5f5f5;
  color: black;
  background-color: mat-color($primary);
}

.header-row {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  font-size: 0.8em
}

.col {
  flex: 1;
  margin-right: 7px;
}

.col:last-child {
  margin-right: 0;
}

.filler {
  flex: 1 1 auto;
}

.logo {
  display: block;
  width: 80%;
  margin-right: 7px;
  margin-top: 7px;
}

.flexExpand {
  flex: 1 1 auto;
}