.mat-card{
  padding: 0px;
}

.mat-card-content{
  padding:0px !important;
}
.title{
  padding-left: 5px;
  padding-top: 3px;
  text-align: left;
}
.content{
  padding-top: 10px;
  padding-bottom: 10px;  
  text-align: center;

}
.finish{
  padding-right: 5px;
  padding-bottom: 3px;  
  text-align: right;
}
