/*Styles for products - Display*/
.container {
  width: 95%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
    .container {
      //max-width: 1110px;
      //padding-right: 16px;
      //padding-left: 16px;
    }
  }