.colors-table{
  width: 96%;
  margin: 2%;
  overflow: auto;
  min-width: 500px;

}
.mat-header-cell, .mat-footer-cell, .mat-cell {
  min-width: 100px;
  box-sizing: border-box;
  text-align: center;
}
